/* Navigation bar */

.navbar-brand {
  font-family: "komikaps";
  color: #0d47a1 !important;
  font-size: 2.5em;
}

.top-bar {
  padding: 0px 0px 0px 0px !important;
}

.navbar .nav-item .nav-link:hover {
    background-color: #ffc107;
    color: black !important;
    padding-right: 16px;
    padding-left: 16px;
  }

.navbar .nav-item {
    padding-right: 16px;
    padding-left: 16px;
}

@font-face {
  font-family: "komikaps";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/KomikaTitleKaps.ttf) format('truetype');
} 

/* Hero area */

.cd-headline.slide .cd-words-wrapper {
  color: #0d47a1;
}

#hero-area {
  top: 20px !important;
}



#hero-area .cd-headline {
  font-size: 2em !important;
}

#hero-area h2  {
  color: black !important;
}

/*  Button in hero area */

.hvr-bounce-to-right:before {
  background-color: #0d47a1;

}

#hero-area .btn {
  background-color: rgb(54, 127, 196);
}

#hero-area img {
  position: relative;
  bottom: 25px;
  max-width:100%;
}

/* Commented gifs */

figure figcaption h4 a {
  /*color: #a10d0d;*/
  color: rgb(54, 127, 196);
}

a:hover {
  color: #0d47a1;
}
/* figure figcaption h4 a {
  color: #0d47a1 !important;
} */